<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title><%= product.name %></title>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('./partials/header')%>
    <main>
        <section>
            <div class="product">
                <div class="product-image">
                    <img src="/images/<%= product.image %>" alt="<%= product.name %>">
                </div>
                <article class="main-description">
                    <h2><%= product.name %></h2> 
                    <p class="puntaje">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i> 10 calificaciones
                    </p>
                    <p>
                        <ul class="shopping-options">
                            <li><i class="fas fa-award"></i> Garantía Oficial</li>
                            <li><i class="fas fa-truck"></i> Envío gratis desde $10.000</li>
                            <li><i class="far fa-credit-card"></i> 3, 6 y 12 c/ sin interés</li>
                        </ul>
                        
                    </p>
                    <div class="div-line">

                    </div>
                    <div class="price-select">
                        <p class="price">
                            <%= product.price %>
                        </p>
                    </div>
                    <div class="div-line">

                    </div>
                    <h3><%= product.description %></h3>
                    <div class="add-cart">
                        <form action="/carrito" method="GET">
                            <button type="submit">Añadir al carrito <i class="fas fa-cart-plus"></i></button>
                        </form>
                        <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" style="display: inline-flex">
                            <button type="submit" class="action-button edit">EDITAR PRODUCTO</button>
                        </form>
						<form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
                    </div>
                    <div class="div-line"></div>
                </article>
            </div>

        </section>
    </main>
    <%- include('./partials/footer')%>
    
</body>
</html>