<!DOCTYPE html>
<html lang="EN">
    <head>
        <%- include('./partials/head')%>    
        <title>Music box</title>
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="contenedor1">
                    <div class="logo">
                       <a href="/"><img src="/images/Logo Music Box.png" alt="Logo de Music Box"></a>
                    </div>
                    <div><i class="fas fa-map-marker-alt"></i></div>
                </div>
                <div class="contenedor2">
                    <form action="/" method="GET">
                        <div>
                            <input type="text" name="busqueda" placeholder="Buscá aquí tu producto" class="search-bar"><i class="fas fa-search"></i>
                        </div>   
                    </form>
                </div>
                <div class="contenedor3">
                    <div class="register">
                        <a href="/users/register">Registrate</a>
                    </div>
                    <div class="login">
                        <a href="/users/login">Iniciá Sesión</a>
                    </div>
                    
                    <div class="user-account">
                        <a href="/users"><i class="far fa-user-circle"></i></a>
                    </div>
                    <div class="carrito">
                        <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            
        </header>
        <main>
            <div class="carrousel">
                <a href=""><i class="fas fa-arrow-left"></i></a>
                <div><img src="/images/imagen1-home-musicBox.png" alt=""></div>
                <a href=""><i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="benefits">
                <p><i class="fas fa-award"></i> Garantía Oficial</p>
                <p><i class="fas fa-truck"></i> Envío gratis desde $10.000</p>
                <p><i class="far fa-credit-card"></i> 3, 6 y 12 cuotas sin interés</p>
            </div>
            <div class="categorias">
                <div class="button">
                    <a href="#">
                        <img src="/images/guitarra.png" alt="guitarra">
                        <p>Cuerda</p>
                    </a>
                </div>
                <div class="button">
                    <a href="#">
                        <img src="/images/saxo.png" alt="">
                        <p>Viento</p>
                    </a>
                </div>
                <div class="button">
                    <a href="#">
                        <img src="/images/drums.png" alt="">
                        <p>Percusión</p>
                    </a>
                </div>
                <div class="button">
                    <a href="#">
                        <img src="/images/parlante.png" alt="">
                        <p>Sonido</p>
                    </a>
                </div>
                <div class="button">
                    <a href="#">
                        <img src="/images/microfono.png" alt="">
                        <p>Accesorios</p>
                    </a>
                </div>
                <div class="button">
                    <a href="#">
                        <img src="/images/taller.png" alt="">
                        <p>Taller</p>
                    </a>
                </div>
            </div>
            <section>
                <h2 class="destacados">Productos Destacados</h2>
                <section >
                    
                        <div class="productos">
                    <% products.forEach(product => { %>
                        <article class="listaDeProductos">
                        
                        <a href="/products/<%= product.id %>">
                            
                                <div class='producto'>
                                    <img src="/images/products/<%= product.image %>" alt="imagen de <%= product.name %>" class="imagen-producto">
                                    <div class="mainArticle">
                                        <p class="name"><%= product.name %></p>
                                        <p class="price"><%= product.price %></p>
                                     </div>
                                </div>
                                
                            
                        </a>
                        </article>
                    
                    <% }) %>
                   </div>
    
                </section>
    
            </section>
        </main>
        <%- include('./partials/footer')%>
    </body>


</html>