<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Todos nuestros productos</title>
    <link rel="stylesheet" href="/css/product-list.css">
</head>
<body>
    <%- include('./partials/header')%>
    <main>
        <section>
            <section class="productos">
                <h3>Nuestos Productos</h3>
                <% products.forEach(product => { %>
                <div class="listaDeProductos">
                    
                    <a href="/products/<%= product.id %>">
                        <article class='producto'>
                            <img src="/images/products/<%= product.image %>" alt="imagen de <%= product.name %>" class="imagen-producto">
                            <div class="mainArticle">
                                <p class="name"><%= product.name %></p>
                                <p class="category"><%= product.category %></p>
                                <p class="price"><%= product.price %></p>
                                <h4 class="description"><%= product.description %></h4>
                                <div class="div-line"></div>
                            </div>
                        </article>
                    </a>
                    
                </div>
                <% }) %>


            </section>

        </section>
    </main>
    <%- include('./partials/footer')%>
    
</body>
</html>