<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/user.css">
    <title>User</title>
</head>
<body>
    <%- include('./partials/header')%>
    <main>
        
        <h2 class="user">hola <%= user.nick %> </h2>
        <img src="/images/users/<%= user.image%>" alt="foto_perfil" class="image">
        <div class="datos">
            <div>
                <div>nombre: <%= user.nombre%></div>
                <div>mail: <%= user.email%></div>
                <div>dni: <%= user.dni%></div>
            </div>

        </div>
    </main>
    <%- include('./partials/footer')%> 
</body>
</html>